.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.logo h2 {
    color: #2563eb;
    font-size: 28px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li:hover {
    color: #2563eb;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.login-btn,
.signup-btn {
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.login-btn {
    background: transparent;
    border: 1px solid #2563eb;
    color: #2563eb;
}

.signup-btn {
    background: #2563eb;
    color: white;
    border: none;
}

.signup-btn:hover {
    background: #1d4ed8;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2563eb;
}